.floating-box {
    display: inline-table;
    margin: 10px;
    border: 3px solid gray;
}
.small {
    width: 500px
    border: 3px solid gray;
}

#config {
    display: none;
}

.displayContainer {
    border: 1px dotted #000;
    display: block;
    height: 10%;
    width: 100%;
}

.centerfloat {
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    margin: auto;
    height: 50px;
    text-align: center;
    padding: 0px
}

.centerFlex {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto
}

#firstObject {
    display: inline;
    height: 100px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.rtalign {
    float: none;
    vertical-align: middle
}

.circuitOneQuarter {
    float: left;
    width: 20%;
    /*background: slategray;*/
    margin: auto;
}

.circuitOneQuarter.parent {

  width: 20%;
  height: 270px;
  margin: 200px 0 0 0;
  left: 30%;
  top: 0px;
  padding: 0px 0 0 0;
  position: absolute;

}
.circuitOneQuarter.child {

  width: 20%;
  height: 100px;
  margin: 270px 0 0 0;
  left: 30%;
  top: 200px;
  padding: 20px 0 0 0;
  position: absolute;

}

.circuitThreeQuarter {
    float: left;
    width: 20%;
    /*background: slategray;*/
    margin: auto;
}

.circuitThreeQuarter.parent {

  width: 20%;
  height: 270px;
  margin: 200px 0 0 0;
  left: 50%;
  top: 0px;
  padding: 0px 0 0 0;
  position: absolute;

}
.circuitThreeQuarter.child {

  width: 20%;
  height: 100px;
  margin: 270px 0 0 0;
  left: 50%;
  top: 200px;
  padding: 20px 0 0 0;
  position: absolute;

}



.left10 {
    float: left;
    width: 10%;
    /*background: slategray;*/
    margin: auto;
}


.right10 {
    float: right;
    width: 10%;
    /*background: slategray;*/
    margin: auto;
}

.left30 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    float: left;
    width: 30%;
    margin: auto;
}

.right30 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    float: right;
    width: 30%;
    margin: auto;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
